*
{
	margin:0;
	padding:0;
	
}

body{	
	background: url(img/carbon_fibre.png);
}

#bgimage
{
	background-image: url(img/banner.jpg);
	background-size: cover;
	width: 100%;
	height: 50vh;
	opacity: 98%;
}

.menu
{
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,5,0.5);
	opacity: 80%;
	background: url(img/45degreee_fabric_@2X.png);
}

#lmenu
{
	width:25%;
	line-height:50px;
	float:left;
}

#lmenu h4
{
	padding-left: 40px;
	font-weight: bold;
	color:rgba(0,0,0,0.70);
	font-size:22px;
	font-family: 'Courgette', sans-serif;
	
}

#rmenu
{
	width: 75%;
	height: 100px;
	float: right;
	color:#fff;
}

#rmenu ul
{
	margin-left: 45%;
}

#rmenu ul li
{
	font-family: 'Courgette', sans-serif; 
	display: inline-block;
	list-style: none;
	font-size: 15px;
	font-weight: bold;
	line-height: 50px;
	margin-left: 40px;
	text-transform: uppercase;
}

#rmenu ul a{
	text-decoration: none;
	color: brown;
}

#text{
	width: 100%;
	margin-top: 70px;
	text-transform: uppercase;
	text-align: center;
	color: black;
	
}



#text h1{
	font-size: 80px;
	font-family: 'Audiowide', cursive;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	letter-spacing: 25px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

#text h2{
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Audiowide', cursive;
	font-weight: lighter;
	text-shadow: 1px 1px 2px black;
	letter-spacing: 3px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}


#buttons{
	margin-top: 50px;
}

#b1:hover, #b1:focus, #b1:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

#b2:hover, #b2:focus, #b2:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

#b1{
	background-color: #fff;
	border: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 35px;
	width: 150px;
	font-family: 'Audiowide';
	text-transform: uppercase;
	border: 1px solid #fff;
	transition-duration: 0.3s;
	cursor:pointer;
}

#b2{
	background-color:transparent;
	text-transform: uppercase;
	border: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 35px;
	width: 100px;
	font-family: 'Audiowide';
	margin-left: 25px;
	border: 1px solid #fff;
	color: white;
	transition-duration: 0.3s;
	cursor:pointer;
}

iframe{
	margin-top: 20px;
	text-align: center;
}
.f{
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
}

#cont{
	margin-top: 35px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	color: white;
	margin-bottom: 35px;
}

#cont a{
	color: lightgray;
	text-decoration: underline;
	text-decoration-style: dotted;
}

.hh4 h4{
	color: white;
	text-align: center;
	font-size: 35px;
	font-family: 'Courgette', sans-serif; 
	
}






