*
{
	margin:0;
	padding:0;
	
}

body{	
	background: url(img/carbon_fibre.png);
}

#bgimage
{
	background-image: url(img/bannerv_2.jpg);
	background-size: cover;
	width: 100%;
	height: 50vh;
	opacity: 80%;
}

#text{
	padding-top: 10vh;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: black;
	
}



#text h1{
	font-size: 80px;
	font-family: 'Audiowide', cursive;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	letter-spacing: 25px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

#text h2{
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Audiowide', cursive;
	font-weight: lighter;
	text-shadow: 1px 1px 2px black;
	letter-spacing: 3px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}


#buttons{
	margin-top: 50px;
	padding-bottom: 10px;
}

#b1:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

#b2:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

#b1{
	background-color: #fff;
	border: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 35px;
	width: 150px;
	font-family: 'Audiowide';
	text-transform: uppercase;
	border: 1px solid #fff;
	transition-duration: 0.3s;
	cursor:pointer;
}

#b2{
	background-color:transparent;
	text-transform: uppercase;
	border: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 35px;
	width: 100px;
	font-family: 'Audiowide';
	margin-left: 25px;
	border: 1px solid #fff;
	color: white;
	transition-duration: 0.3s;
	cursor:pointer;
}






